body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-lg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.main_col {
  display: flex;
  padding: 2rem 0;
}

.flex_end {
  justify-content: flex-end;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.fretboard {
  background-color: #4B3120;
  width: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.fretboard div {
  height: 65px;
  border-bottom: 2px solid #919191;
  border-top: 3px solid #ADADAD;
}
.fretboard div::before {
  content: "";
  border-left: 2px solid #545454de;
  height: 108%;
  width: 0%;
  display: block;
  margin: auto;
  margin-top: -3px;
}
.fretboard div:nth-child(6n-5)::before {
  border-left: 3px solid #bd925d;
}
.fretboard div:nth-child(6n-4)::before {
  border-left: 3px solid #b9966b;
}
.fretboard div:nth-child(6n-3)::before {
  border-left: 2px solid #a18562;
}
.fretboard div:nth-child(6n-2)::before {
  border-left: 2px solid #a18562;
}
.fretboard div:nth-child(6n-1)::before {
  border-left: 1px solid #7c746a;
}
.fretboard div:nth-child(6n)::before {
  border-left: 1px solid #7c746a;
}

.note_bar {
  background-color: #e1b074;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.notes_wrap {
  flex-direction: row;
  display: flex;
}
.notes_wrap button {
  font-size: 25px;
  font-weight: 600;
  height: 45px;
  width: 45px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.note_column {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
